<ion-header>
  <ion-navbar>
    <ion-title>Estegonza2002</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="ios-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- <ion-toolbar profile-detail-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block icon-only color="dark"><ion-icon name="ios-chatbubbles"></ion-icon></button>
        </ion-col>
        <ion-col>
          <button ion-button block icon-only color="dark"><ion-icon name="ios-mail"></ion-icon></button>
        </ion-col>
        <ion-col>
          <button ion-button block icon-only color="dark"><ion-icon name="md-person-add"></ion-icon> </button>
        </ion-col>
        <ion-col>
          <button ion-button block icon-only color="dark"><ion-icon name="md-heart"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar> -->
</ion-header>


<ion-content has-bouncing="false">
    <ion-fab right bottom>
      <button ion-fab color="secondary"><ion-icon name="ios-arrow-up-outline"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
    <ion-slides profile-slide pager="true" loop="true" parallax="true">
    <ion-slide>
      <img src="assets/imgs/users/user-name/public/profile-pic-1.jpg" imageViewer/>
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/users/user-name/public/profile-pic-2.jpg" imageViewer/>
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/users/user-name/public/profile-pic-3.jpg" imageViewer/>
    </ion-slide>
  </ion-slides>

  <ion-card profile-detail-card class="nine-sixty">
    <ion-card-header>Info</ion-card-header>
    <ion-card-content>
      <ion-grid profile-grid>
        <ion-row>
          <ion-col>
            <ion-list no-lines>
              <ion-item>Chicago, IL - USA - 0 mi</ion-item>
              <ion-item>Atlanta, GA - USA - 1345 mi</ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>Status</h2>
            <ion-list no-lines>
              <ion-item>Item 1</ion-item>
              <ion-item>Item 2</ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
            <h2>Searching for</h2>
            <ion-list no-lines>
              <ion-item>Item 1</ion-item>
              <ion-item>Item 2</ion-item>
              <ion-item>Item 3</ion-item>
              <ion-item>Item 4</ion-item>
              <ion-item>Item 5</ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>Languages</h2>
            <p>English, Spanish, Italian</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card profile-detail-card class="nine-sixty">
    <ion-card-header>
      <ion-grid profile-grid-header>
        <ion-row>
          <ion-col col-4>
            About
          </ion-col>
          <ion-col col-4>
            Him
          </ion-col>
          <ion-col col-4>
            Her
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-grid profile-grid>
        <ion-row>
          <ion-col col-4>
            <p>Age</p>
          </ion-col>
          <ion-col male col-4>
            <p>36</p>
          </ion-col>
          <ion-col female col-4>
            <p>31</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <p>Body type</p>
          </ion-col>
          <ion-col male col-4>
            <p>Athletic</p>
          </ion-col>
          <ion-col female col-4>
            <p>Nice and Slim</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <p>Height</p>
          </ion-col>
          <ion-col male col-4>
            <p>5' 9 - (175cm)</p>
          </ion-col>
          <ion-col female col-4>
            <p>5' 3 - (160cm)</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <h2 padding>Friends</h2>
  <ion-grid explore>
    <ion-row>
      <ion-col *ngFor="let user of users" col-6 col-md-3 col-lg-2>
        <user></user>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h2 padding>Atending events</h2>
  <ion-grid events>
    <ion-row>
      <ion-col *ngFor="let event of events" col-12 col-md-6 col-lg-3>
        <event></event>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
