<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/users/user-name/public/pic1.png">
    </ion-avatar>
    <h1>House Party</h1>
    <p>Estegonza2002</p>
    <button ion-button item-end color="secondary">RSVP</button>
  </ion-item>
  <div><img src="assets/imgs/parties/party1.jpg" /></div>
  <ion-card-content>
  <button ion-item detail-push color="white"><ion-icon name="ios-people" color="grey2" item-start></ion-icon>See who's coming <ion-badge item-end color="grey1">45</ion-badge></button>
  <button ion-item detail-push color="white"><ion-icon name="md-pin" color="grey2" item-start></ion-icon>Chicago, IL - USA - 0 mi</button>
  <div padding>
    <p>For those in the lifestyle who appreciate a slender ankle in a red-soled pump, the hand-stitched interior of a classic German automobile and a 2007 Insignia, this is for you.</p>
  </div>
  </ion-card-content>
  <button ion-button full>Buy Tickets</button>
</ion-card>
