.five-hundred {
  max-width: 500px !important;
  margin: 0 auto !important;
}
ion-content {
  p {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0 0 1.6rem 0;
  }
  h2 {
    font-size: 2rem;
    margin: 1.6rem 0;
  }
}
ion-grid {
  &[user-type] {
    padding: 0 0 1rem 0;
    h2 {
      font-size: 2rem;
      margin: 1.6rem 0;
    }
    ion-row {
      margin: 0;
      padding: 0;
    }
    ion-col {
      padding: 0 1rem 0 0;
      &:last-child {
        padding-right: 0;
      }
      ion-item {
        border-radius: 5px;
        padding-left: 8px;
        margin-bottom: 8px;
        ion-label {
          font-size: 1.4rem;
        }
      }
    }

  }
  &[explore] {
    padding: 0.5rem;
    ion-row {
      margin: 0;
      padding: 0;
    }
    ion-col {
      padding: 0.5rem;
    }
    ion-card {
      width: 100%;
      border-radius: 5px;
      margin: 0 0 1rem 0;
      background-color: color($colors, white);
      ion-item {
        padding-left: 8px;
        background-color: color($colors, white);
        h1 {
          font-size: 1.4rem;
          font-weight: bold;
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
  &[events] {
    padding: 0.5rem;
    ion-row {
      margin: 0;
      padding: 0;
    }
    ion-col {
      padding: 0.5rem;
    }
    ion-card {
      width: 100%;
      border-radius: 5px;
      margin: 0 0 1rem 0;
      background-color: color($colors, white);
      ion-card-content {
        padding: 0;
      }
      .button-btm {
        margin: 0px;
      }
      ion-item {
        background-color: color($colors, white);
        h1 {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
  }
}
ion-list {
  &[chat] {
    ion-item {
      background-color: color($colors, white);
    }
  }
  &[messages] {
    ion-item {
      background-color: color($colors, white);
    }
  }
  &[form-list] {
    ion-item {
      border-bottom: 1px solid color($colors, grey2) !important;
    }
    ion-icon[item-left], {
      margin-bottom: -12px;
    }
    ion-label {
      color: color($colors, grey1);
    }
  }
}

ion-card {
  &[profile-detail-card] {
    background-color: color($colors, white);
    border-radius: 5px;
    ion-card-header {
      background-color: color($colors, grey1);
      color: color($colors, light);
      padding: 16px 8px;
    }
    ion-card-content {
      padding: 8px;
      p {
        color: color($colors, grey1);
      }
    }
    ion-grid {
      &[profile-grid] {
        padding: 0;
        ion-row {
          margin: 0;
          padding: 1rem 0;
          border-bottom: 1px solid color($colors, grey3);
          &:last-child {
            border-bottom: none;
          }
        }
        ion-col {
          padding: 0;
          &[male] {
            p {
              color: color($colors, male);
            }
          }
          &[female] {
            p {
            color: color($colors, female);
            }
          }
          h2 {
            font-weight: bold;
            margin-bottom: 1rem;
            color: color($colors, grey1);
          }
          ion-list {
            ion-item {
              font-size: 1.4rem;
              padding-left: 0;
              min-height: 2.4rem;
              background-color: color($colors, white);
              ion-label {
                white-space: normal;
                margin: 2px 8px 2px 0px;
                color: color($colors, grey1);
              }
            }
          }
        }
      }
    }
  }
}
ion-toolbar {
  padding: 0 !important;
  min-height: 42px !important;
  &[profile-detail-toolbar] {
    padding: 0;
    min-height: 0;
    ion-grid {
      margin: 0;
      padding: 0;
      ion-row {
        margin: 0 6px;
        padding: 0;
        ion-col {
          .button {
            margin: 0px;
          }
        }
      }
    }
  }
}
ion-slides {
  &[profile-slide] {
    max-width: 500px;
    margin: 0 auto;
    max-height: 375px;
    .swiper-pagination-bullet-active {
      background-color: color($colors, secondary) !important;
    }
    .swiper-pagination-bullet {
      background-color: color($colors, white);
    }
  }
}
